{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Nuovo Corso</h1>

  <form action="" method="POST" class="card p-4 shadow-sm">
    {{ course_advanced_form.hidden_tag() }}

    <div class="mb-3">
      {{ course_advanced_form.name.label(class="form-label") }}
      {{ course_advanced_form.name(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ course_advanced_form.subject.label(class="form-label") }}
      {{ course_advanced_form.subject(class="form-control") }}
    </div>

    <div class="mt-3">
      {{ course_advanced_form.submit(class="btn btn-primary") }}
    </div>
  </form>

  <div class="card mt-4 p-3">
    <h2 class="h5">Informazioni Inserite</h2>
    <ul class="list-group mt-3">
      <li class="list-group-item">
        Nome del corso: <b>{{ course_name }}</b>
      </li>
      <li class="list-group-item">
        Argomento del corso: <b>{{ course_subject }}</b>
      </li>
    </ul>
  </div>
</div>
{% endblock content %}
