{% extends 'base.html' %} {% block content %}
<form action="{{ url_for('new_course') }}">
  <!-- url_form deve essere preso dal nome della funzione -->
  <label for="coursename">Name of the Course:</label>
  <input type="text" name="coursename" />
  <label for="subjectname">Course subject:</label>
  <input type="text" name="subjectname" />
  <input type="submit" value="Submit Form" />
</form>

<br />
{% if context != None %}
<ul>
  <li>Course name: <b>{{context.course_name}}</b></li>
  <li>Course subject: <b>{{context.course_subject}}</b></li>
</ul>
{% endif %} {% endblock content %}
